<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LabADO_1512159_1512624_1512670.Properties.Settings.LabADO_1512159_1512624_1512670ConnectionString"
            connectionString="Data Source=TRUONG-DESKTOP\SQLEXPRESS;Initial Catalog=LabADO_1512159_1512624_1512670;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>